﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPageAdmin.master.cs" Inherits="BossAdmin_MasterPageAdmin" %>

<%@ Register Src="~/admin/include/footer.ascx" TagPrefix="uc1" TagName="footer" %>
<%@ Register Src="~/admin/include/RightSidebar.ascx" TagPrefix="uc2" TagName="RightSidebar" %>
<%@ Register Src="~/admin/include/SideMenu.ascx" TagPrefix="uc3" TagName="SideMenu" %>
<%@ Register Src="~/admin/include/Header.ascx" TagPrefix="uc4" TagName="Header" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<!DOCTYPE html>
<html>
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta name="description" content="alerts" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Page title -->

    <title runat="server" id="pagetitle">Solar Miner</title>

    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

    <!-- Vendor styles -->
    <asp:PlaceHolder ID="PlaceHolder1" runat="server">
        <link rel="shortcut icon" type="image/ico" href="<%=Siteurl %>admin/assets/img/favicon(3).png" />
        <link rel="shortcut icon" type="image/ico" href="favicon.ico" />

        <!--Basic Styles-->
        <link href="<%=Siteurl %>admin/assets/css/bootstrap.min.css" rel="stylesheet" />

        <link href="<%=Siteurl %>admin/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
        <link href="<%=Siteurl %>admin/assets/css/font-awesome.min.css" rel="stylesheet" />
        <link href="<%=Siteurl %>admin/assets/css/weather-icons.min.css" rel="stylesheet" />


        <!--Fonts-->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

        <!--Beyond styles-->
        <link href="<%=Siteurl %>admin/assets/css/beyond.min.css" rel="stylesheet" />
        <link href="<%=Siteurl %>admin/assets/css/demo.min.css" rel="stylesheet" />
        <link href="<%=Siteurl %>admin/assets/css/typicons.min.css" rel="stylesheet" />
        <link href="<%=Siteurl %>admin/assets/css/animate.min.css" rel="stylesheet" />
        <link href="<%=Siteurl %>admin/assets/css/style.css" rel="stylesheet" />
        <link id="skin-link" href="" rel="stylesheet" type="text/css" />

        <link href="<%=Siteurl %>admin/assets/css/bootstrap-tagsinput.css" rel="stylesheet" />
        <%--   <link href="<%=Siteurl %>admin/assets/css/tagsinput.css" rel="stylesheet" />--%>
        <%--<script src="<%=Siteurl %>admin/vendor/bootstrap/dist/js/bootstrap.min.js"></script>--%>

        <link href="<%=Siteurl %>admin/assets/js/toastr/toastr.css" rel="stylesheet" />
        <link href="<%=Siteurl %>admin/assets/js/toastr/toastr.min.css" rel="stylesheet" />


        <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
        <script src="<%=Siteurl %>admin/assets/js/skins.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
        <script src="https://maps.gstatic.com/intl/en_us/mapfiles/api-3/17/0/main.js" type="text/javascript"></script>



    </asp:PlaceHolder>
</head>

<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<body class="fixed-navbar fixed-sidebar">
    <!-- Simple splash screen-->
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <form id="form1" runat="server">
        <div class="setting-container">
            <label>
                <input id="checkboxfixednavbar" type="checkbox">
                <span class="text">Fixed Navbar</span>
            </label>
            <label>
                <input id="checkboxfixedsidebar" type="checkbox">
                <span class="text">Fixed SideBar</span>
            </label>
            <label>
                <input id="checkbox_fixedbreadcrumbs" type="checkbox">
                <span class="text">Fixed BreadCrumbs</span>
            </label>
            <label>
                <input id="checkbox_fixedheader" type="checkbox">
                <span class="text">Fixed Header</span>
            </label>
        </div>
        <script>

            document.getElementById("checkboxfixednavbar").checked = true;
            document.getElementById("checkboxfixedsidebar").checked = true;

            createCookie("navbar-fixed-top", true, 100);
            createCookie("sidebar-fixed", true, 100);
            createCookie("breadcrumbs-fixed", true, 100);
            createCookie("page-header-fixed", true, 100);
        </script>
        <!-- Header -->
        <uc4:Header runat="server" ID="Header" />

        <cc1:ToolkitScriptManager runat="Server" EnableScriptGlobalization="true" EnableScriptLocalization="true" EnablePartialRendering="true"
            ID="ToolkitScriptManager1" ScriptMode="Release" EnablePageMethods="true">
            <%--<Services>
                <asp:ServiceReference Path="~/Search.asmx" />
            </Services>--%>
        </cc1:ToolkitScriptManager>

        <div class="main-container container-fluid">
            <!-- Page Container -->
            <div class="page-container">
                <uc3:SideMenu runat="server" ID="SideMenu" />
                <div class="page-content">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                    <!-- Right sidebar -->
                    <uc2:RightSidebar runat="server" ID="RightSidebar" />
                    <!-- Footer-->

                    <uc1:footer runat="server" ID="footer" />
                </div>


            </div>
        </div>

        <!-- Navigation -->


        <!-- Vendor scripts -->

        <script src="<%=Siteurl %>admin/vendor/jquery/dist/jquery.min.js"></script>
        <script src="<%=Siteurl %>admin/vendor/flot2/examples/shared/jquery-ui/jquery-ui.min.js"></script>
        <script src="<%=Siteurl %>admin/js/bootstrap.file-input.js"></script>

        <!--Basic Scripts-->
        <%--bansi <script src="<%=Siteurl %>admin/assets/js/jquery.min.js"></script>--%>

        <!--cpy Scripts-->
        <script src="<%=Siteurl %>js/app.js"></script>
        <script src="<%=Siteurl %>admin/vendor/metisMenu/dist/metisMenu.min.js"></script>
        <script src="<%=Siteurl %>admin/vendor/sparkline/index.js"></script>
        <script src="<%=Siteurl %>admin/vendor/moment/moment.js"></script>

        <script src="<%=Siteurl %>admin/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
        <%--  <script src="<%=Siteurl %>admin/vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>--%>
        <script src="<%=Siteurl %>admin/vendor/peity/jquery.peity.min.js"></script>
        <script src="<%=Siteurl %>admin/js/jquery.easy-pie-chart.js"></script>
        <script src="<%=Siteurl %>admin/js/jquery.flot.min.js"></script>
        <script src="<%=Siteurl %>admin/js/jquery.flot.tooltip.min.js"></script>
        <script src="<%=Siteurl %>admin/vendor/jquery-flot/jquery.flot.js"></script>
        <script src="<%=Siteurl %>admin/vendor/jquery-flot/jquery.flot.resize.js"></script>
        <script src="<%=Siteurl %>admin/vendor/jquery-flot/jquery.flot.pie.js"></script>
        <%--   <script src="<%=Siteurl %>admin/vendor/flot.curvedlines/curvedLines.js"></script>--%>

        <script src="<%=Siteurl %>admin/vendor/jquery.flot.spline/index.js"></script>
        <script src="<%=Siteurl %>admin/js/demo.js"></script>
        <script src="<%=Siteurl %>admin/js/globalize.min.js"></script>
        <script src="<%=Siteurl %>admin/js/knockout-3.1.0.js"></script>

        <%-- <script src="<%=Siteurl %>admin/vendor/slimScroll/jquery.slimscroll.min.js"></script>--%>

        <script src="<%=Siteurl %>admin/js/app.plugin.js"></script>
        <script src="<%=Siteurl %>admin/js/perfect-scrollbar.js"></script>

        <script src="<%=Siteurl %>admin/js/custom.js"></script>
        <script src="<%=Siteurl %>admin/js/sweet-alert.min.js"></script>

        <!--End Scripts-->


        <script src="<%=Siteurl %>admin/assets/js/bootstrap.min.js"></script>
        <script src="<%=Siteurl %>admin/assets/js/bootstrap-tagsinput.js"></script>
        <script src="<%=Siteurl %>admin/assets/js/bootstrap-tagsinput.min.js"></script>
        <%--<script src="<%=Siteurl %>admin/assets/js/tagsinput.js"></script>--%>
        <script src="<%=Siteurl %>admin/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="<%=Siteurl %>admin/vendor/xeditable/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
        <script src="<%=Siteurl %>admin/assets/js/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="<%=Siteurl %>admin/assets/js/select2/select2.js"></script>
        <script src="<%=Siteurl %>admin/assets/js/beyond.js"></script>
        <!--Page Related Scripts-->
        <script src="<%=Siteurl %>admin/assets/js/toastr/toastr.min.js"></script>
        <script src="<%=Siteurl %>admin/assets/js/toastr/toastr.js"></script>
        <!--Bootstrap Date Picker-->
        <script src="<%=Siteurl %>admin/assets/js/datetime/bootstrap-datepicker.js"></script>
        <script src="<%=Siteurl %>admin/assets/js/datetime/bootstrap-timepicker.js"></script>
        <!--Beyond Scripts-->

        <script src="<%=Siteurl %>admin/assets/js/validationclass.js"></script>

        <%--     
        <script src="admin/vendor/jquery/dist/jquery.min.js"></script>
        <script src="admin/assets/js/bootstrap.min.js"></script> --%>
        <%--   <script src="admin/assets/js/editors/summernote/summernote.js"></script>--%>
        <script src="<%=Siteurl %>admin/assets/js/editors/summernote/summernote.js"></script>
        <!--Page Related Scripts-->


        <script>
            $(".myval").select2({
                width: "50%",
                formatResult: function (state) {
                    if (!state.id) return state.text;
                    if ($(state.element).data('active') == "0") {
                        return state.text + "<i class='fa fa-dot-circle-o'></i>";
                    } else {
                        return state.text;
                    }
                },
                formatSelection: function (state) {
                    if ($(state.element).data('active') == "0") {
                        return state.text + "<i class='fa fa-dot-circle-o'></i>";
                    } else {
                        return state.text;
                    }
                }
            });
            $(".myval1").select2({
                minimumResultsForSearch: -1
            });
        </script>

        <script>

            function MyfunInfo() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.info('There are no items to show in this view');
            }
            function MyfunError() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.error('Transaction Failed.');
            }

            function MyfunNoNull() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.error('No Data to Update.');
            }

            function MyfunImageError() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.error('Select Proper Image');
            }

            function MyfunWaring() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.error('Record with this name already exists.');
            }
            function MyfunWaring2() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.error('Record with this model number already exists.');
            }
            function MyfunSuccess() {

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }


                toastr.success('Transaction Successful!');


            }

            function MyfunRecordMismatch() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.error("Quantity and No. of excel record didn't match");
            }


            function MyfunUploadSuccess() {

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success('Upload Successful');


            }

            function MyfunMsgSendSuccess() {

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success('Message send successfully.');


            }

            function MyfunFieldExist() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.error("Field with this value already exists in the records.");
            }

            function MyfunBrochuresDoesNotExist() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.error("No Brochures available.");
            }

            function MyGreenfun(msg) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.success(msg);
            }

            function MyRedfun(msg) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.error(msg);
            }

            function MyBluefun(msg) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "3000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "10000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.info(msg);
            }
        </script>

    </form>

</body>
</html>
