﻿<%--<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Message>Thanks for the message!</Message>
</Response>--%>
<%@ Page Language="C#" AutoEventWireup="true" CodeFile="smsprocess.aspx.cs" Inherits="twilio_smsprocess" %>
<asp:Literal runat="server" id="ltmsg"></asp:Literal>