﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="maintainace.aspx.cs" Inherits="mailtemplate_telerik_maintainace" %>

<%----%>

<%@ Register Assembly="Telerik.ReportViewer.WebForms, Version=15.0.21.326, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" Namespace="Telerik.ReportViewer.WebForms" TagPrefix="telerik" %>



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <telerik:ReportViewer ID="ReportViewer1" runat="server" Width="80%" Height="600px"></telerik:ReportViewer>
    </form>
</body>
</html>
