﻿/*
.GridviewScrollHeader TH, .GridviewScrollHeader TD 
{ 
    white-space: nowrap; 
    border-right: 1px solid #AAAAAA; 
    border-bottom: 1px solid #AAAAAA; 
    background-color: #EFEFEF; 
    text-align: left; 
    vertical-align: bottom; 
} 
.GridviewScrollItem TD 
{ 
    white-space: nowrap; 
    border-right: 1px solid #AAAAAA; 
    border-bottom: 1px solid #AAAAAA; 
    background-color: #FFFFFF; 
} 
.GridviewScrollPager  
{ 
    border-top: 1px solid #AAAAAA; 
    background-color: #FFFFFF; 
} 
.GridviewScrollPager TD 
{ 
    padding-left: 5px; 
    padding-right: 5px; 
} 
.GridviewScrollPager A 
{ 
    color: #666666; 
}

.GridviewScrollPager SPAN
{
    font-size: 16px;
    font-weight: bold;
}

*/
.GridviewScrollItem TD span
{
   /* line-height:35px;*/
}
.GridviewScrollItem TD
{ padding-left: 8px !important;   
  overflow:hidden!important;
}
.GridviewScrollItem TD span{ white-space: nowrap;}
.tableblack.wrap .GridviewScrollItem TD{white-space:normal!important;}
.GridviewScrollHeader TH
{
    padding-top: 8px !important;
    padding-left: 8px !important;
}
div.GridviewScrollPager
{
    display: inline-block;
}
.GridviewScrollPager
{
    background: #ffffff;
    padding: 7px 0px;
}

.GridviewScrollPager table
{
    float: right;
    background: #ffffff;
}

.modal-header button
{
    width: 15px !important;
}
.GridviewScrollItem TD.leadtrackertd{overflow:auto!important;}

