﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="GreenBot_Default" Async="true" %>

<!DOCTYPE html> 

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <p>Hello</p>
            <asp:Button ID="btn1" runat="server" OnClick="btn1_Click" Text="Generate Token"></asp:Button>
            <asp:Button ID="Button1" runat="server" OnClick="CreateJob_Click" Text="Create Job"></asp:Button>
        </div>
    </form>
</body>
</html>
