.printorder
{
	display:none!important;
}
/*aside{display:none!important;}*/
#wrapper{margin-left:0px!important; border:0px!important;}
.printArea{
display:block;
}
.col-sm-2{float:left;     width:22%;}
.cart .productDtls{ width:200px; vertical-align:top; margin-left:5px;}
.col-sm-10 {
    width: 75%; float:left;
}
